<p>expediente works!</p>
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid animated fadeIn">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">Expediente</h3>
            </div>

        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                        <div class="card-body">
                            <table id="demo-foo-accordion" class="table m-b-0 toggle-arrow-tiny">
                                <thead>
                                    <tr >
                                        <th data-toggle="true"> PA HISTORIAL</th>
                                        <th data-toggle="true"> PESO HISTORIAL</th>
                                        <th> Editar </th>
                                        <th> Ver </th>
                                        <th> Imprimir Receta </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let datos of exp" >
                                        <td>{{datos.pahistorial}}</td>
                                        <td>{{datos.pesohistorial}}</td>
                                        <td>
                                            <a (click)="seleccionarExpediente(datos.idhistorial);" class="btn btn-warning" data-toggle="modal" data-target=".example3-modal-lg"><i class="fa fa-edit"></i></a>
                                        </td>
                                        <td>
                                            <a (click)="seleccionarExpediente(datos.idhistorial);" class="btn btn-success" data-toggle="modal" data-target=".example4-modal-lg"><i class="fa fa-eye"></i></a>
                                        </td>
                                        <td>
                                            <a (click)="seleccionarReceta(datos.idhistorial);" class="btn btn-info" ><i class="fa fa-print"></i></a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->

<div class="row">
<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <!-- sample modal content -->
            <div class="modal fade example3-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myLargeModalLabel">Expediente</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <div class="card">
                            <form>
                            <div class="card-body">
                                <div class="form-body">
                                    <div class="col-12">
                                        <div class="form-group row">
                                            <label for="example-search-input" class="col-2 col-form-label">PESO</label>
                                            <div class="col-4">
                                                <input class="form-control" type="text" name="expediente.pesohistorial" [(ngModel)]="expediente.pesohistorial" >
                                            </div>
                                            <label for="example-search-input" class="col-2 col-form-label">TALLA</label>
                                            <div class="col-4">
                                                <input class="form-control" type="text" name="expediente.tallahistorial" [(ngModel)]="expediente.tallahistorial" >
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                        <button (click)="mostrar = !mostrar" type="button" class=" btn btn-outline-primary">Mostrar Mas Datos</button>
                                        </div>
                                        <div *ngIf="mostrar">

                                            <div class="form-group row">
                                                <label for="example-search-input" class="col-2 col-form-label">ANTECEDENTES HEREDOFAMILIARES</label>
                                                <div class="col-10">
                                                    <input class="form-control" type="text" name="expediente.ahhistorial" [(ngModel)]="expediente.ahhistorial" >
                                                </div>
                                            </div>
                                       </div>
                                        <div class="form-group">
                                            <label>PA</label>
                                            <textarea class="form-control" rows="7" name="expediente.pahistorial" [(ngModel)]="expediente.pahistorial" ></textarea>
                                        </div>
                                </div>
                                </div>
                                <div class="form-actions">
                                    <button (click)="editarExpediente();" class="btn btn-success"> <i class="fa fa-check"></i> Guardar </button>
                                </div>
                        </div>
                        </form>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </div>
</div>
</div>
</div>


<div class="row">
<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <!-- sample modal content -->
            <div class="modal fade example4-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myLargeModalLabel">Expediente </h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <div class="card">
                            <form id="contenidoexpediente">
                            <div class="card-body">
                                <div class="form-body">
                                    <div class="col-12">
                                        <div class="form-group row" >
                                            <label id="cajafecha" for="example-search-input" class="col-2 col-form-label">FECHA</label>
                                            <div class="col-4">
                                                <label for="example-text-input" class="col-form-label">20/07/2020</label>
                                            </div>
                                        </div>
                                        <div class="table-responsive-lg">
                                            <table class="table"  >
                                                <thead >
                                                    <tr >
                                                        <th scope="col">PESO</th>
                                                        <th scope="col">TALLA</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr >
                                                        <td >{{expediente.pesohistorial}}</td>
                                                        <td >{{expediente.tallahistorial}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="form-group row">
                                            <button (click)="mostrar = !mostrar" type="button"  class=" btn btn-outline-primary">Mostrar Mas Datos</button>
                                        </div>
                                        <div *ngIf="mostrar">
                                            <div class="form-group row">
                                                <label for="example-text-input" class="col-12 col-form-label">ANTECEDENTES HEREDOFAMILIARES</label>
                                                <div class="col-12">
                                                    <label for="example-text-input" class="col-form-label">{{expediente.ahhistorial}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-responsive-lg">
                                            <table class="table" >
                                                <thead >
                                                    <tr class="col-12">
                                                        <th class="col-12">PA</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="col-12">
                                                        <td ><label for="example-search-input" class="col-12 col-form-label">{{expediente.pahistorial}}</label></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                        </div>
                        </form>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </div>
</div>
</div>

<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <!-- sample modal content -->
            <div class="modal fade example4-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myLargeModalLabel">Expediente </h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <div class="card">
                            <form id="contenidoexpediente">
                            <div class="card-body">
                                <div class="form-body">
                                    <div class="col-12">
                                        <div class="form-group row" >
                                            <label id="cajafecha" for="example-search-input" class="col-2 col-form-label">FECHA</label>
                                            <div class="col-4">
                                                <label for="example-text-input" class="col-form-label">xX</label>
                                            </div>
                                            <label for="example-search-input" class="col-2 col-form-label">LABOR</label>
                                            <div class="col-4">
                                                <label for="example-text-input" class="col-form-label">xX</label>
                                            </div>
                                        </div>
                                        <div class="table-responsive-lg">
                                            <table class="table"  >
                                                <thead >
                                                    <tr >
                                                        <th scope="col">PESO</th>
                                                        <th scope="col">TALLA</th>
                                                        <th scope="col">FC</th>
                                                        <th scope="col">FR</th>
                                                        <th scope="col">TA</th>
                                                        <th scope="col">TEMP</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr >
                                                        <td >xX</td>
                                                        <td >xX</td>
                                                        <td >xX</td>
                                                        <td >xX</td>
                                                        <td >xX</td>
                                                        <td >xX</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="form-group row">
                                            <button type="button" class=" btn btn-outline-primary">Mostrar Mas Datos</button>
                                        </div>
                                        <div >
                                            <div class="form-group row">
                                                <label for="example-text-input" class="col-12 col-form-label">ANTECEDENTES HEREDOFAMILIARES</label>
                                                <div class="col-12">
                                                    <label for="example-text-input" class="col-form-label">xX</label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="example-search-input" class="col-12 col-form-label">ANTECEDENTES PERSONALES NO PATOLOGICOS</label>
                                                <div class="col-12">
                                                    <label for="example-text-input" class="col-form-label">xX</label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="example-search-input" class="col-12 col-form-label">HEMOTIPO</label>
                                                <div class="col-12">
                                                    <label for="example-text-input" class="col-form-label">xX</label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="example-search-input" class="col-12 col-form-label">ALERGIAS</label>
                                                <div class="col-12">
                                                    <label for="example-text-input" class="col-form-label">xX</label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="example-search-input" class="col-12 col-form-label">ANTECEDENTES PERSONALES PATOLOGICOS</label>
                                                <div class="col-12">
                                                    <label for="example-text-input" class="col-form-label">xX</label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="example-search-input" class="col-12 col-form-label">ANTECEDENTES GINECOOBSTÉTRICOS</label>
                                                <div class="col-10">
                                                    <label for="example-text-input" class="col-form-label">xX</label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="example-search-input" class="col-12 col-form-label">QX</label>
                                                <div class="col-10">
                                                    <label for="example-text-input" class="col-form-label">xX</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-responsive-lg">
                                            <table class="table" >
                                                <thead >
                                                    <tr class="col-12">
                                                        <th class="col-12">PA</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="col-12">
                                                        <td ><label for="example-search-input" class="col-12 col-form-label">xX</label></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="table-responsive-lg">
                                            <table class="table" >
                                                <thead >
                                                    <tr class="col-12">
                                                        <th class="col-12">S</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="col-12">
                                                        <td ><label for="example-search-input" class="col-12 col-form-label">xX</label></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="table-responsive-lg">
                                            <table class="table"  >
                                                <thead >
                                                    <tr class="col-12">
                                                        <th class="col-12">O</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="col-12">
                                                        <td ><label for="example-search-input" class="col-12 col-form-label">xX</label></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="table-responsive-lg">
                                            <table class="table"  >
                                                <thead >
                                                    <tr class="col-12">
                                                        <th class="col-12">A</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="col-12">
                                                        <td ><label for="example-search-input" class="col-12 col-form-label">xX</label></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="table-responsive-lg">
                                            <table class="table"  >
                                                <thead >
                                                    <tr class="col-12">
                                                        <th class="col-12">DX</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="col-12">
                                                        <td ><label for="example-search-input" class="col-12 col-form-label">xX</label></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="table-responsive-lg">
                                            <table class="table"  >
                                                <thead >
                                                    <tr class="col-12">
                                                        <th class="col-12">TX</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="col-12">
                                                        <td ><label for="example-search-input" class="col-12 col-form-label">xX</label></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="table-responsive-lg">
                                            <table class="table"  >
                                                <thead >
                                                    <tr class="col-12">
                                                        <th class="col-12">PLAN</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="col-12">
                                                        <td ><label for="example-search-input" class="col-12 col-form-label">xX</label></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="form-group row">
                                            <label for="example-search-input" class="col-12 col-form-label">CITA PROXIMA</label>
                                            <div class="col-10">
                                                <label for="example-text-input" class="col-form-label">xX</label>
                                            </div>
                                        </div>
                                        <div class="table-responsive-lg">
                                            <table class="table"  >
                                                <thead >
                                                    <tr class="col-12">
                                                        <th class="col-12">Tratamiento</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="col-12">
                                                        <td ><label for="example-search-input" class="col-12 col-form-label">xX</label></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                        </div>
                        </form>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </div>
</div>
</div>
</div>
