<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">

    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid animated fadeIn">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">Registrar paciente</h3>
            </div>
            <div class="">

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">

                    <div class="card-body">
                            <div class="form-body">
                                <h3 class="card-title">Solicitud de datos del paciente</h3>
                                <hr>
                                <div class="row p-t-20">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Nombre completo</label>
                                            <input type="text" class="form-control" name="pacientes.nompaciente" [(ngModel)]="pacientes.nompaciente" placeholder="John doe">
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Edad</label>
                                            <input type="text" class="form-control" name="pacientes.edadpaciente" [(ngModel)]="pacientes.edadpaciente" placeholder="31 años">
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <!--/row-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Teléfono</label>
                                            <input type="text"  class="form-control" name="pacientes.telpaciente" [(ngModel)]="pacientes.telpaciente" placeholder="(999) 999-9999">
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Dirección</label>
                                            <input type="text" class="form-control" name="pacientes.dirpaciente" [(ngModel)]="pacientes.dirpaciente" placeholder="Av. Venustiano carranza 43, Atlacomulco, Edo. De Méx.">
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <!--/row-->
                            </div>
                            <div class="form-actions">
                                <button  class="btn btn-success" (click)="AltaPaciente();"> <i class="fa fa-check"></i> Guardar </button>
                                <br><br>
                            </div>

                            <div class="form-actions">
                                <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
                                <div><img [src]="url" *ngIf="url"></div>
                                <input type="file" (change)="onFileChanged($event)">
                                <button  class="btn btn-success" (click)="onUpload();"> <i class="fa fa-check"></i> Subir Imagen </button>
                                <br><br><br>
                            </div>
                    </div>
                </div>
            </div>
        </div>
            <!-- Row -->
    </div>
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->

